<div class="conteiner">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/imagenesCarousel/vinos.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2x1 en vinos Saurus</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagenesCarousel/vino2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>15% de descuento en vino Estate</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagenesCarousel/vino3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Nuevo vino de Luigi Bosca! Envio gratis</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagenesCarousel/vinokilka.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>10% de descuento en linea Killka</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container">
    <div class="row mt-4 mb-4 ">
      <div class="col py-3">
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/imagenesInicio/vino.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Selecciona los vinos que mas te guste.</p>
          </div>
        </div>
      </div>
      <div class="col py-3">
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/imagenesInicio/mediosdepago.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Aceptamos todos los medios de pago.</p>
          </div>
        </div>
      </div>
      <div class="col py-3">
        <div class="card" style="width: 20rem;">
          <img src="../../../assets/imagenesInicio/envios.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Envios a todo el pais por andreani.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="container mb-3">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../../assets/imagenesCarousel/vinoDestacado1.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Vinos Destacados</h5>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../../assets/imagenesCarousel/vinoDestacado2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Vinos Destacados</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/imagenesCarousel/vinoDestacado3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Vinos Destacados</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>
