<div class="container mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Productos</span>
      <button class="btn btn-dark btn-lg float-end" routerLink="/create-producto">Agregar</button>
      <h5 *ngIf="productos.length == 0" style="margin-top: 30px;">No hay datos cargados</h5>
      <table *ngIf="productos.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Bodega</th>
            <th>Estilo</th>
            <th>Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td> {{producto.nombre}} </td>
            <td> {{producto.bodega}} </td>
            <td> {{producto.estilo}} </td>
            <td> {{producto.precio | currency }} </td>
            <td>
              <a class="btn btn-success btn-sm me-2" [routerLink]="['/editProducto',producto.id]">Editar</a>
              <a class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.id)">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

